{% extends 'base.html' %}
{% block title %}forums{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <div class="card-footer text-center text-muted"><a href="{% url 'forum_new' %}" class = "btn btn-primary">+New</a>
  </div>
  {% endif %}
  {% for forum in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ forum.title }}</span> &middot;
        <span class="text-muted">by {{ forum.author }} | {{ forum.date }}</span>
      </div>
      <div class="card-body">
        {{ forum.body }}
      </div>
      {% if user.is_authenticated %}
      <div class="card-footer text-center text-muted">
        <a href="{% url 'forum_edit' forum.pk %}" class = "btn btn-warning">Edit</a>
        <a href="{% url 'forum_delete' forum.pk %}" class = "btn btn-danger">Delete</a>
      </div>
      {% endif %}
      <div class="card-footer">
        {% for comment in forum.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
        {% endfor %}
      </div>

      
    </div>
    <br />
  {% endfor %}
{% endblock content %}
